@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300;700&family=Lora:ital@1&family=Oooh+Baby&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Lora:ital@1&family=Oooh+Baby&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mukta:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Oooh+Baby&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300;700&family=Lora:ital@1&family=Oooh+Baby&display=swap");
* {
  padding: 0;
  margin: 0;
}

header {
  background-color: brown;
  padding: 20px;
  width: 100vw;
  list-style: none;
  position: relative;
}

.flexconteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

li {
  display: inline-block;
}

li .opciones {
  color: antiquewhite;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 25px;
  width: 100vw;
}

@media (min-width: 1024px) {
  #principal1 {
    width: 100%;
    background-image: url("../imagenes/istockphoto-1131318494-612x612.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    position: absolute;
    background-blend-mode: soft-light;
    background-color: rgba(50, 50, 50, 0.75);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.10fr 0.10fr 0.15fr 0.15fr auto;
        grid-template-rows: 0.10fr 0.10fr 0.15fr 0.15fr auto;
        grid-template-areas: "header" "nav" "main" "section" "footer";
    gap: 10px;
  }
  .mayuscula {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: antiquewhite;
    width: 900px;
    height: 20vh;
    margin-top: 50px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: left;
        align-content: left;
  }
  .pagina-conteiners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .tituloconteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .relleno-conteiners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    width: 60%;
    justify-items: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    padding-left: 450px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #header-index {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navegador-index {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
    width: 100%;
  }
  #ul-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-content: space-evenly;
  }
  #main-index {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: main;
  }
  #section-index {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: section;
  }
  #footer-index {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: footer;
    background-color: brown;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #marco-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #foto-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 800px;
    height: 600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 400px;
    border-radius: 10px;
    margin-bottom: 400px;
    border-style: solid black;
  }
  .pie1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin: 20px 10px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: solid grey 5px;
    background-color: transparent;
    cursor: pointer;
  }
  .pie1:hover {
    -webkit-box-shadow: 0 0 40px 10px inset;
            box-shadow: 0 0 40px 10px inset;
  }
}

@media (max-width: 1023px) {
  header {
    background-color: brown;
    padding: 20px;
    list-style: none;
    width: 100%;
  }
  .flexconteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  li {
    display: inline-block;
  }
  footer {
    width: 100vw;
  }
  .opciones {
    color: antiquewhite;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .tituloconteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .mayuscula {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    padding: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: antiquewhite;
    width: 900px;
    height: 20vh;
    margin-top: 50px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: left;
        align-content: left;
  }
  #principal1 {
    width: 100%;
    background-image: url("../imagenes/istockphoto-1131318494-612x612.jpg");
    background-size: 100% 100%;
    background-color: rgba(50, 50, 50, 0.75);
    background-attachment: fixed;
    position: absolute;
    background-blend-mode: soft-light;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.10fr 0.10fr 0.5fr 0.5fr auto;
        grid-template-rows: 0.10fr 0.10fr 0.5fr 0.5fr auto;
        grid-template-areas: "header" "nav" "main" "section-titulo" "section"         "footer";
  }
  .relleno-conteiners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: antiquewhite;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    width: 80%;
    height: 100vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr;
        grid-template-columns: 0.5fr;
    -ms-grid-rows: 0.25fr 0.25fr 0.15fr;
        grid-template-rows: 0.25fr 0.25fr 0.15fr;
        grid-template-areas: "lorem1" "lorem2" "marco-index";
  }
  #lorem1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: lorem1;
  }
  #lorem2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: lorem2;
  }
  #header-index {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: brown;
    font-size: 25px;
  }
  #navegador-index {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  #ul-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main-index {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: main;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #section-index {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: section;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #section-titulo {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: section-titulo;
  }
  #footer-index {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: footer;
    background-color: brown;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  #marco-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: marco-index;
  }
  #foto-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    height: 400px;
    -ms-flex-line-pack: center;
        align-content: center;
    justify-self: flex-start;
    margin-top: 150px;
    border-radius: 10px;
    border: solid brown;
    margin-bottom: 400px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    grid-area: foto-index;
  }
  .tituloconteiner {
    margin-bottom: 50px;
  }
  .pie1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin: 20px 10px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: solid grey 5px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 250px;
  }
  .pie1:hover {
    -webkit-box-shadow: 0 0 40px 10px inset;
            box-shadow: 0 0 40px 10px inset;
  }
  /* .pie1{
    color:blanchedalmond;
    font-family:'Bree Serif', serif ;
    font-size: 15px;
}*/
}

/*---------------------------mobile smartphone------------------------------------*/
@media (max-width: 1023px) {
  #formulario-contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .colorform {
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-left: 100px;
    background-color: grey;
    border-radius: 5%;
    border: solid white;
    padding-left: 50px;
    padding-top: 50px;
    width: 300px;
    height: 300px;
  }
  #minegocio {
    padding-top: 40px;
    padding-bottom: 0px;
    font-weight: bolder;
  }
  #quiensos {
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    font-size: 2em;
    color: blanchedalmond;
    font-weight: bolder;
  }
  #bodycontactos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../imagenes/el-mercurio-volador-juan-de-bolonia-627x376.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: rgba(50, 50, 50, 0.75);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.15fr 0.15fr 0.50fr 0.50fr 0.30fr auto;
        grid-template-rows: 0.15fr 0.15fr 0.50fr 0.50fr 0.30fr auto;
        grid-template-areas: "header-contacto" "nav-contacto"  "container-contacto" "formulario-contacto" "fabian-contacto" "footer-contacto";
  }
  #header-contacto {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header-contacto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: brown;
    font-size: 20px;
  }
  #ul-contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav-contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav-contacto;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #formulario-contacto {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: formulario-contacto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #fabian-contacto {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: fabian-contacto;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #fabi-contacto {
    width: 300px;
    height: 300px;
    background-color: grey;
    border-radius: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px;
    gap: 40px;
    border: solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: antiquewhite;
    margin: 100px;
  }
  .fabi1 {
    font-size: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #container-contacto {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: container-contacto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: antiquewhite;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60%;
    margin-left: 110px;
  }
  #footer-contacto {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: footer-contacto;
    width: 100%;
    height: 100%;
    background-color: brown;
  }
  #footer-social {
    font-size: 40px;
    background-color: bisque;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 160px;
    width: 100%;
    height: auto;
  }
  .historia-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 160px;
  }
  .parrafos-historia {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 15px;
    font-weight: bolder;
    color: antiquewhite;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #marco-laptop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 80px;
  }
  #imagen-laptop {
    width: 500px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px;
    border: solid gray;
  }
  .bodyhistoria {
    background-image: url("../imagenes/ef38981cf3118cbceaa563891a2aabfd--percy-jackson-hermes.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: rgba(50, 50, 50, 0.98);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.15fr 0.15fr 0.5fr auto;
        grid-template-rows: 0.15fr 0.15fr 0.5fr auto;
        grid-template-areas: "header" "nav" "section" "footer";
  }
  #header-historia {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: brown;
    font-size: 25px;
  }
  #nav-historia {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #ul-historia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section-historia {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: section;
  }
  #footer-historia {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: footer;
    background-color: brown;
    width: 100%;
    height: 100%;
  }
  #body-experiencia {
    background-image: url("../imagenes/depositphotos_418026222-stock-photo-ancient-statue-antique-god-commerce.jpg");
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: rgba(50, 50, 50, 0.98);
    background-size: 100%;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.15fr 0.15fr 0.25fr 0.3fr auto;
        grid-template-rows: 0.15fr 0.15fr 0.25fr 0.3fr auto;
        grid-template-areas: "header" "nav" "section" "section2" "footer";
  }
  #header-experiencia {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: brown;
    font-size: 25px;
  }
  #opciones-experiencia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navegador-experiencia {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  #ul-experiencia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section-experiencia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Roboto', sans-serif;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: section;
    padding-bottom: 10%;
    padding-top: 10%;
  }
  .relleno-experiencia {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    justify-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    font-size: 15px;
    font-weight: bolder;
    color: antiquewhite;
    flex-direction: column;
  }
  #section-experiencia2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 100px;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: section2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr  auto;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr  auto;
        grid-template-areas: "foto-harold" "historia-harold" "foto-sarah"  "historia-sarah" "foto-isaac" "historia-isaac";
  }
  #foto-harold {
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: solid grey;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: foto-harold;
    border-radius: 5px;
  }
  .historia-fabi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 300px;
    height: 300px;
    font-size: 15px;
    font-weight: bolder;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: historia-harold;
    margin-bottom: 40px;
  }
  #foto-sarah {
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: solid antiquewhite;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: foto-sarah;
    border-radius: 5px;
  }
  .historia-sarah {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 300px;
    height: 300px;
    font-size: 15px;
    font-weight: bolder;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: historia-sarah;
  }
  #foto-isaac {
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: solid antiquewhite;
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: foto-isaac;
    border-radius: 5px;
  }
  .historia-isaac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 300px;
    height: 300px;
    font-size: 15px;
    font-weight: bolder;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: historia-isaac;
    padding-top: 10px;
  }
  #footer-experiencia {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: footer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: brown;
  }
  .bodyservicios {
    width: 100%;
    height: 100%;
    background-image: url("../multimedia/istockphoto-131914749-612x612.jpg");
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-size: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.15fr 0.15fr 0.15fr auto;
        grid-template-rows: 0.15fr 0.15fr 0.15fr auto;
        grid-template-areas: "header-servicios" "nav-servicios" "section-servicios" "footer-servicios";
    background-color: rgba(50, 50, 50, 0.98);
  }
  #header-servicios {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header-servicios;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: brown;
    font-size: 25px;
  }
  #nav-servicios {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav-servicios;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #ul-servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section-servicios {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: section-servicios;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #footer-servicios {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer-servicios;
    background-color: brown;
  }
  #section-servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.15fr 0.15fr 0.15fr 0.15fr;
        grid-template-columns: 0.15fr 0.15fr 0.15fr 0.15fr;
    -ms-grid-rows: 0.15fr 0.15fr 0.15fr 0.15fr;
        grid-template-rows: 0.15fr 0.15fr 0.15fr 0.15fr;
        grid-template-areas: "foto1"   "parrafo1" "foto2" "parrafo2" "foto3" "parrafo3" "foto4" "parrafo4";
  }
  #foto1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: foto1;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: solid brown;
  }
  #foto2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: foto2;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: solid brown;
  }
  #foto3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: foto3;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: solid brown;
  }
  #foto4 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: foto4;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: solid brown;
  }
  #parrafo1 {
    background-blend-mode: soft-light;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: parrafo1;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 50px;
  }
  #parrafo2 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: parrafo2;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 50px;
  }
  #parrafo3 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: parrafo3;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 50px;
  }
  #parrafo4 {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: parrafo4;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 200px;
  }
}

/*-----------------------------desktop-----------------------------*/
@media (min-width: 1024px) {
  /*{
        box-sizing:border-box; 
        width: 100%;
       }*/
  /*.opciones:hover{
            transform: scale(2);
            transition-property: all;
            transition-duration: 1s;
        }*/
  /*  #lorem1{

            transform: scale(0.3);
            transition-property:all;
           transition-duration: 2s;


        }
        
        #lorem2{
              transform: scale(0.3);
              transition-property:all;
             transition-duration: 2s;

        }
   */
  /* #footer-index{
           display: flex;
           width: 100%;
           height: 100%;
           flex-direction: column;
           align-items: center;
       } */
  /* .formconteiner{
           padding-top: 50px;
           display:flex;
           justify-content:right;
           width: 900px;
       }*/
  .colorform {
    width: 300px;
    height: 300px;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border-radius: 10%;
    background-color: grey;
    border: solid bisque;
    margin-top: 20px;
    padding: 20px 5px 20px 60px;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  #minegocio-contacto {
    padding-top: 40px;
    padding-bottom: 0px;
    font-weight: bolder;
  }
  /* .container-consultas{
       padding-top:80px;
       font-family:'Roboto', sans-serif ;
       padding-bottom:0px ;
       font-weight: bolder;
       color:antiquewhite;
       display: flex;
       justify-content:center;
       }*/
  #quiensos {
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    font-size: 200px;
    color: blanchedalmond;
    font-weight: bolder;
  }
  #bodycontactos {
    background-image: url("../imagenes/el-mercurio-volador-juan-de-bolonia-627x376.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: rgba(50, 50, 50, 0.75);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.15fr 0.15fr 0.50fr 0.50fr 0.30fr auto;
        grid-template-rows: 0.15fr 0.15fr 0.50fr 0.50fr 0.30fr auto;
        grid-template-areas: "header-contacto" "nav-contacto"  "container-contacto" "formulario-contacto" "fabian-contacto" "footer-contacto";
  }
  #header-contacto {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header-contacto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: brown;
    font-size: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #ul-contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-content: space-evenly;
  }
  #nav-contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav-contacto;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #formulario-contacto {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: formulario-contacto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #fabian-contacto {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: fabian-contacto;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #fabi-contacto {
    width: 300px;
    height: 300px;
    background-color: grey;
    border-radius: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px;
    gap: 40px;
    border: solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: antiquewhite;
    margin: 100px;
  }
  .fabi1 {
    font-size: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #container-contacto {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: container-contacto;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: antiquewhite;
  }
  #footer-contacto {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: footer-contacto;
    width: 100%;
    height: 100%;
    background-color: brown;
  }
  #footer-social {
    font-size: 40px;
    background-color: bisque;
  }
  .bodyservicios {
    width: 100%;
    height: 100%;
    background-image: url("../multimedia/istockphoto-131914749-612x612.jpg");
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-size: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.15fr 0.15fr 0.15fr auto;
        grid-template-rows: 0.15fr 0.15fr 0.15fr auto;
        grid-template-areas: "header-servicios" "nav-servicios" "section-servicios" "footer-servicios";
    background-color: rgba(50, 50, 50, 0.98);
  }
  #header-servicios {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header-servicios;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav-servicios {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav-servicios;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section-servicios {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: section-servicios;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #footer-servicios {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer-servicios;
    background-color: brown;
  }
  #section-servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 20px;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.15fr 0.15fr 0.15fr 0.15fr;
        grid-template-columns: 0.15fr 0.15fr 0.15fr 0.15fr;
    -ms-grid-rows: 0.15fr 0.15fr 0.15fr 0.15fr;
        grid-template-rows: 0.15fr 0.15fr 0.15fr 0.15fr;
        grid-template-areas: "foto1     foto2   foto3    foto4" "parrafo1 parrafo2 parrafo3 parrafo4";
  }
  #foto1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: foto1;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: solid brown;
  }
  #foto2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: foto2;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: solid brown;
  }
  #foto3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: foto3;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: solid brown;
  }
  #foto4 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: foto4;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: solid brown;
  }
  #parrafo1 {
    background-blend-mode: soft-light;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: parrafo1;
    font-size: 15px;
    font-weight: bolder;
  }
  #parrafo2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: parrafo2;
    font-size: 15px;
    font-weight: bolder;
  }
  #parrafo3 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: parrafo3;
    font-size: 15px;
    font-weight: bolder;
  }
  #parrafo4 {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: parrafo4;
    font-size: 15px;
    font-weight: bolder;
  }
  .historia-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 160px;
  }
  .parrafos-historia {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 55%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 15px;
    font-weight: bolder;
    color: antiquewhite;
  }
  #marco-laptop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 80px;
  }
  #imagen-laptop {
    width: 500px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px;
    border: solid gray;
  }
  .bodyhistoria {
    width: 100%;
    background-image: url("../imagenes/ef38981cf3118cbceaa563891a2aabfd--percy-jackson-hermes.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: rgba(50, 50, 50, 0.98);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.15fr 0.15fr 0.15fr auto;
        grid-template-rows: 0.15fr 0.15fr 0.15fr auto;
        grid-template-areas: "header" "nav" "section" "footer";
  }
  #header-historia {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav-historia {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
    width: 100%;
  }
  #section-historia {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: section;
  }
  #footer-historia {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: footer;
    background-color: brown;
  }
  #ul-historia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  #body-experiencia {
    background-image: url("../imagenes/depositphotos_418026222-stock-photo-ancient-statue-antique-god-commerce.jpg");
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: rgba(50, 50, 50, 0.98);
    background-size: 100% 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.15fr 0.15fr 0.10fr 0.15fr auto;
        grid-template-rows: 0.15fr 0.15fr 0.10fr 0.15fr auto;
        grid-template-areas: "header" "nav" "section" "section2" "footer";
  }
  #header-experiencia {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navegador-experiencia {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
    width: 100%;
  }
  #ul-experiencia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  #section-experiencia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Roboto', sans-serif;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: section;
    padding-bottom: 10%;
    margin-top: 150px;
  }
  .relleno-experiencia {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    font-weight: bolder;
    color: antiquewhite;
    flex-direction: column;
  }
  #section-experiencia2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 100px;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: section2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.35fr 0.35fr 0.35fr;
        grid-template-columns: 0.35fr 0.35fr 0.35fr;
    -ms-grid-rows: 0.2fr 0.2fr 0.2fr;
        grid-template-rows: 0.2fr 0.2fr 0.2fr;
        grid-template-areas: "foto-sarah foto-harold foto-isaac" "historia-sarah historia-harold historia-isaac";
  }
  #foto-harold {
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: solid brown;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: foto-harold;
    border-radius: 10px;
  }
  .historia-fabi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 300px;
    height: 300px;
    font-size: 15px;
    font-weight: bolder;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: historia-harold;
  }
  #foto-sarah {
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: solid brown;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: foto-sarah;
    border-radius: 10px;
  }
  .historia-sarah {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 300px;
    height: 300px;
    font-size: 15px;
    font-weight: bolder;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: historia-sarah;
  }
  #foto-isaac {
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: solid brown;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: foto-isaac;
    border-radius: 10px;
  }
  .historia-isaac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 300px;
    height: 300px;
    font-size: 15px;
    font-weight: bolder;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: historia-isaac;
  }
  #footer-experiencia {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: footer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: brown;
  }
  #footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer-social i {
    font-size: 30px;
  }
  #planilla-formulario {
    width: 50%;
    margin-left: 250px;
    margin-top: 150px;
  }
}
