
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300;700&family=Lora:ital@1&family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Lora:ital@1&family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mukta:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300;700&family=Lora:ital@1&family=Oooh+Baby&display=swap');

*{
    padding: 0;
    margin: 0;
   }

   header{
    background-color:rgb(118, 79, 42);
    width: 100%;
     list-style:none;
     padding:20px;
  
     }
     


    