
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300;700&family=Lora:ital@1&family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Lora:ital@1&family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mukta:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300;700&family=Lora:ital@1&family=Oooh+Baby&display=swap');

*{
    padding: 0;
    margin: 0;
   }

   header{
    background-color:rgb(118, 79, 42);
     padding: 20px;
     width: 100vw;
     list-style:none;
     position:relative;
     }


     .flexconteiner{
        display:flex;
        justify-content: space-evenly;

        

        }

    
      li{
    display:inline-block;
    
        

        .opciones{
        
         color:antiquewhite;
        font-weight:bolder;
        font-family:$fuente-roboto;
        text-decoration: none;
            font-size: 25px; 
            width: 100vw;
         
            }

}

