@media(max-width:1023px){


   
           .tituloconteiner{
               
               font-size: 30px;
              position:relative;
               align-items:flex-end;
               box-shadow: 10px 10px 10px black;
               grid-area:section-titulo;

   
           }
         
        
     
    #principal1{
       width: 100%;
       background-image: url("../imagenes/istockphoto-1131318494-612x612.jpg");
       background-size:100% 100% ;
       background-color: rgba(50,50,50,0.75);
       background-attachment: fixed;
       position:absolute;
       background-blend-mode: soft-light;
       display:grid;
       grid-template-columns: 1fr;
       grid-template-rows:0.2fr 0.2fr 0.2fr auto;
       grid-template-areas:     "header"
                                
                                "main"
                                "section" 
                                 "footer";
 
                                                }


                                                #header-index{
                                                    grid-area: header;
                                                
                                                   }


                                                 


                                                #main-index{
                                                    grid-area:main;
                                                    display:flex;
                                                    flex-direction:column;
                                                    align-items: center;
                                              
                                                }








                                #section-index{
                                    grid-area:section;
                                   position: relative;
                                }



                                #footer-index{
                                    grid-area:footer;
                                    background-color:rgb(118,79,42);
                                   
                        
                                 }





                                .mayuscula{
                                 display: flex;
                                 flex-direction:column;
                                 font-family:$fuente-roboto;
                                 font-weight: bolder;
                                 padding:50px;
                                 justify-content: center;
                                 color:antiquewhite;
                                 width: 500px;
                                 height:20vh;
                                 margin-top: 50px;
                                 align-items:center;
                                 align-content: center;
                                 box-shadow: 10px 10px 10px black;
                                 position: relative;
                                 }
                                    
                        









                            .relleno-conteiners{
                              
                                border-radius: 10px;
                                align-items:center;
                                flex-wrap: wrap;
                                color:antiquewhite;
                                font-family:$fuente-roboto;
                                font-size:15px ;
                                font-weight:bolder;
                                background: rgba(5,7,12,0.40);
                                width: 400px;
                                height: 1200px;
                                margin:20px auto;
                                justify-content:space-evenly;
                                align-items:flex-start;
                                display: grid;
                                grid-template-columns: 0.5fr;
                                grid-template-rows: 0.25fr 0.25fr 0.5fr;
                                grid-template-areas: "lorem1"
                                                      "lorem2"
                                                     "marco-index";
                                                      
                  
                  
                                                     
                                }
                #lorem1{
                   grid-area:lorem1;
                   position: relative;

                }
                            #lorem2{
                                grid-area:lorem2;
                                position: relative;
                            }

   
    #marco-index{
      position: relative;
       align-items: center;
       grid-area:marco-index;
       width: auto;
    }
    
  
  
       #foto-index{
        grid-area:foto-index;
        width: 450px;
        height: 450px;
        align-items:center;
        margin-top: 150px;
        border-radius: 10px;
        border:solid antiquewhite;
        margin-bottom: 200px;
      
    
       
        box-shadow: 10px 10px 10px black;

       }
   


  
    
   



}