@media(max-width:1023px){
  
  #body-experiencia{
       width: 100%;
       background-image: url("../imagenes/depositphotos_418026222-stock-photo-ancient-statue-antique-god-commerce.jpg");
       background-attachment: fixed;
       background-blend-mode: soft-light;
       background-color: rgba(50,50,50,0.98);
       background-size: 100%;
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 0.15fr 0.25fr 0.3fr auto;
       grid-template-areas:
                           "header"
                             
                            "section"
                            "section2"
                            "footer-experiencia"
                            
       
   }
   
   #header-experiencia{
    grid-area: header;
   
   
    
   }
                      
                      
                         /*#navegador-experiencia{
                            grid-area: nav;
                            display:flex;
                            flex-direction:column;
                            width: 100%;
                           
                           

                       }*/
                    /*#ul-experiencia{
                           display:flex;
                           flex-direction: column;
                       }*/
   
   
   
   
                       #section-experiencia{
                           grid-area: section;
                           display:flex;
                           flex-direction: column;
                           font-family:'Roboto', sans-serif;
                           justify-content:flex-start;
                           align-items:center;
                           padding-bottom:20px; ;
                           padding-top:20px;
                       
   
                           }
                           .relleno-experiencia{
                               justify-content:end;
                              justify-items:center;
                               display:flex;
                               flex-direction: column;
                               width:90%;
                               border-radius: 9px;
                               font-size:15px;
                               font-weight: lighter;
                               color:white;
                               flex-direction: column;
                               background: rgba(5,7,12,0.40);
                               padding:15px;
                           
   
                           }

                           #footer-experiencia{
                            grid-area: footer-experiencia;
                            display:flex;
                            flex-direction: column;
                            background-color: rgba(118,79,42);
                            justify-content: center;
                            width: 100%;
                       
                            
                            }
                            
                            #consejo-economicas{
                                margin-top:50px;
                                margin:10px auto;
                                width: 100%;
                            }
                           
                           
                        
                       

                       





                           #section-experiencia2{
                            width:90%;
                            justify-content: center;
                            margin-left:10px;
                             grid-area:section2;
                             flex-direction:column;
                             align-items:center;
                             gap:5px;
                             display:grid; 
                             display: flex;
                             grid-template-columns: 1fr;
                             grid-template-rows: 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr  auto;
                             grid-template-areas:"foto-harold"
                                                "historia-harold"
                                                 "foto-sarah" 
                                                 "historia-sarah"
                                                  "foto-isaac"
                                                 "historia-isaac";  
                            margin-bottom: 50px;
                                           }
                   
                                    #foto-harold{
                                        width:250px;
                                        height: 250px;
                                        display:flex;
                                        flex-direction: column;
                                        border:solid grey;
                                        grid-area:foto-harold;
                                        border-radius:5px;
                                        box-shadow: 10px 10px 5px black;
                                        margin-bottom: 20px;
                                
                                    
                                    }
                                  
                                    .historia-fabi{
                                        display:flex;
                                        justify-content:start;
                                        padding: 20px;
                                        width: 250px;
                                        height: 500px;
                                        font-size:15px ;
                                        font-weight: lighter;
                                        color:antiquewhite;
                                        font-family:'Roboto', sans-serif ;
                                        flex-direction: column;
                                        grid-area:historia-harold;
                                        margin-bottom:40px;
                                        background: rgba(5,7,12,0.40);
                                        border-radius:10px;

                   
                                                    }
            
                                    #foto-sarah{ 
                                         width:250px;
                                         height: 250px;
                                         display:flex;
                                         flex-direction: column;
                                        border:solid antiquewhite;
                                        grid-area:foto-sarah;
                                        border-radius:5px;
                                        box-shadow: 10px 10px 5px black;
                                        margin-bottom: 20px;
            
            
                                     }
            
                                     .historia-sarah{
                                        display:flex;
                                        justify-content:start;
                                        width: 250px;
                                        height: 300px;
                                        padding: 20px;
                                        font-size:15px ;
                                        font-weight: lighter;
                                        color:antiquewhite;
                                        font-family:'Roboto', sans-serif ;
                                        flex-direction: column;
                                        grid-area:historia-sarah;
                                        background: rgba(5,7,12,0.40);
                                        margin-bottom: 30px;
                                        border-radius:10px;

                                
                   
                                                    }
            
                                                    #foto-isaac{
                                                        width:250px;
                                                        height: 250px;
                                                        display:flex;
                                                        flex-direction: column;
                                                       border:solid antiquewhite;
                                                       grid-area:foto-isaac;
                                                       border-radius: 5px;
                                                       box-shadow: 10px 10px 5px black;
                                                       margin-bottom: 5px;
                           
                                                    }
            
                                                    .historia-isaac{
                                                        display:flex;
                                                        justify-content:start;
                                                        width: 250px;
                                                        height: 350px;
                                                        font-size:15px ;
                                                        font-weight: lighter;
                                                        padding: 20px;
                                                        color:antiquewhite;
                                                        font-family:'Roboto', sans-serif ;
                                                        flex-direction: column;
                                                        grid-area:historia-isaac;
                                                        padding-top:10px;
                                                        background: rgba(5,7,12,0.40);
                                                        border-radius:10px;
            
                                                    }
                                     
                                                   

                                   
                                     
                                     } 

