
@media(min-width:1024px){
#principal1{
    width:100%;
    background-image: url("../imagenes/istockphoto-1131318494-612x612.jpg");
    background-size:100% 100% ;
    background-attachment: fixed;
    position: absolute;
    background-blend-mode: soft-light;
    background-color: rgba(50,50,50,0.75);
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows:0.10fr 0.10fr 0.15fr 0.15fr auto ;
    grid-template-areas: "header"
                          "nav"
                          "main"
                          "section"
                          "footer"    ;
                          gap:10px;
                          
                          }

                          .mayuscula{
                            flex-direction:column;
                            font-family:'Roboto', sans-serif;
                            font-weight: bolder;
                            padding:50px;
                            justify-content: center;
                            color:antiquewhite;
                            width: 900px;
                            height:20vh;
                            margin-top: 50px;
                            align-items:flex-start;
                            align-content: left;
                            margin-bottom: 30px;
                            box-shadow: 10px 10px 10px black;



                            }
                            .pagina-conteiners{
                                display:flex;
                                width: 100%;
                               
                               }


                               .tituloconteiner{
                                display:flex;      
                                font-size: 30px;
                                flex-direction: column;
                                align-items:center;
                                margin-top:20px;
                                margin-bottom: 100px;
                                box-shadow: 10px 10px 10px black;

                              
                            }

                            /*.relleno-conteiners{
                                display:flex;
                                  color:antiquewhite;
                                  font-family:'Roboto', sans-serif;
                                  font-size:15px;
                                  font-weight:lighter;
                                  width: 90%;
                                  justify-items:center;
                                  align-items: center; 
                                  height: 100vh;  
                                  margin-left:100px ;
                                  justify-content:start;
                                
                               }
*/

                               .relleno-conteiners{
                                display:flex ;
                                flex-direction: column;
                                  color:antiquewhite;
                                  font-family:'Roboto', sans-serif;
                                  font-size:17px ;
                                  font-weight:lighter;
                                  width: 80%;
                                  align-items: center; 
                                  height: 100vh;  
                                  margin-left:150px ;
                                  justify-content: center;
                                  gap:10px;
                                  box-shadow: 10px 10px 10px black;
                                  background: rgba(5,7,12,0.40);
                                  padding: 0px 80px 0px 80px;

                               }















                               #header-index{
                                grid-area:header;
                                width: 100%;
                                display:flex;
                                align-items: center;
                                
                            }
                        
                        
                            #navegador-index{
                             grid-area:nav;
                                width: 100%;
                            }
                        
                            #ul-index{
                                display:flex;
                                justify-content: space-evenly;
                                align-content: center;
                                width:100%;
                                display:flex;
                                flex-direction: row;
                                justify-content: space-evenly;
                        
                        
                     
                        }
                     
                       
                            #main-index{
                                grid-area:main;
                            }
                        
                            #section-index{
                                grid-area:section;
                           
                            }
                            #footer-index{
                                grid-area:footer;
                                background-color:rgb(118, 79, 42);
                                width: 100%;
                                display: flex;
                                height: 100%;
                                flex-direction: column;
                                align-items: center;
                     
                            }
                        
                        #marco-index{
                            display:flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                             width: 100%;
                             
                             }
                          
                        
                          
                         #foto-index{
                             display: flex;
                             width: 500px;
                             height: 550px;
                             align-items: center;
                             margin-top: 50px;
                             border-radius: 10px;
                             margin-bottom: 400px;
                             border-style: solid black;
                             box-shadow: 10px 10px 10px black;

                            }

                            .pie1{
                                align-items: center;
                                font-family:'Roboto', sans-serif;
                                font-weight: bolder;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color:white;
                                font-size: 15px;
                                text-decoration: none;
                                margin:20px 10px;
                                width:400px;
                                height: 50px;
                                border-radius: 10px;
                                border:solid grey 5px;
                                background-color: transparent;
                                cursor:pointer;
                                box-shadow: 10px 10px 10px black;
                                color:antiquewhite;
                               
                               &:hover{
                                   box-shadow:0 0 40px 10px inset antiquewhite;
                                   color:black;
                               }

                               }

                               




}

                        
                            
