@media(min-width:1024px){
       .bodyservicios{
        width: 100%;
        height: 100%;
        background-image: url("../multimedia/istockphoto-131914749-612x612.jpg") ;
    background-attachment: fixed;
    background-blend-mode :soft-light;
    background-size:100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.15fr 0.15fr auto;
    grid-template-areas: "header-servicios"
                          "nav-servicios"
                          "section-servicios"
                          "footer-servicios";
    background-color: rgba(50,50,50,0.98);
   
    }

    #header-servicios{
        grid-area:header-servicios;
        width:100%;
        display: flex;
    align-items: center;


      
        
    }


   #nav-servicios{
       grid-area:nav-servicios;
       width:100%;
       align-items: center;

       

   }

   #section-servicios{
       grid-area:section-servicios;
       display:flex;
       flex-direction: column;
       align-items: flex-start;
       flex-wrap: wrap;
      
      
       

       }

   #footer-servicios{
       grid-area: footer-servicios;
       background-color: rgb(118,79,42);
      
   }
#patrocinadores-servicios{
 display:flex;
 margin-top:20px;
 justify-content: center;
 align-items: center;
      


}

.credicoop{
 display: flex;
 font-size: 17px;
 font-family:'Roboto', sans-serif ; 
 font-weight: bolder;
 justify-content: center;
 margin-top:30px;
 color:antiquewhite;
}
       
   


  #section-servicios{
     display: flex;
     justify-content: space-evenly;
     gap:20px;
   color: antiquewhite;
     font-family:'Roboto', sans-serif ;
      font-size: 25px;
     height: 100%; 
     width: 100%;
    display:grid;
    grid-template-columns:0.15fr 0.15fr 0.15fr 0.15fr;
    grid-template-rows: 0.15fr 0.15fr 0.15fr 0.15fr;
    grid-template-areas: "foto1     foto2   foto3    foto4"
                         "parrafo1 parrafo2 parrafo3 parrafo4";

  }

  #foto1{
      grid-area: foto1;
      width:300px;
      height: 300px;
      border-radius: 20%;
      border:solid rgb(118,79,42);
      box-shadow: 10px 10px 10px black;
      &:hover{
         box-shadow:0 0 40px 10px inset antiquewhite;
      }
  }
  
  #foto2{
      grid-area:foto2;
      width:300px;
      height:300px;
      border-radius:20%;
      border:solid rgb(118,79,42);
      box-shadow: 10px 10px 10px black;
      &:hover{
         box-shadow:0 0 40px 10px inset antiquewhite;
      }
  }

  #foto3{
      grid-area:foto3;
      width:300px;
      height:300px;
      border-radius:20%;
      border:solid rgb(118,79,42);
      box-shadow: 10px 10px 10px black;
      &:hover{
         box-shadow:0 0 40px 10px inset antiquewhite;
      }
  }
  
  #foto4{
      grid-area:foto4;
      width:300px;
      height: 300px;
      border-radius:20%;
      border:solid rgb(118,79,42);
      box-shadow: 10px 10px 10px black;
      &:hover{
         box-shadow:0 0 40px 10px inset antiquewhite;
      }
  }
#parrafo1{
background-blend-mode :soft-light;
grid-area:parrafo1;
font-size: 15px;
font-weight: lighter;
background: rgba(5,7,12,0.40);
&:hover{
 box-shadow:0 0 40px 10px inset antiquewhite;
 border-radius:5px;
}
}

#parrafo2{
grid-area:parrafo2;
font-size:15px ;
font-weight: lighter;
background: rgba(5,7,12,0.40);
&:hover{
 box-shadow:0 0 40px 10px inset antiquewhite;
 border-radius:5px;
}

}
#parrafo3{
grid-area:parrafo3;
font-size: 15px;
font-weight: lighter;
background: rgba(5,7,12,0.40);
&:hover{
 box-shadow:0 0 40px 10px inset antiquewhite;
 border-radius:5px;
}
}

#parrafo4{
grid-area:parrafo4;
font-size: 15px;
font-weight: lighter;
background: rgba(5,7,12,0.40);
&:hover{
 box-shadow: 0 0 40px 10px inset antiquewhite;
 border-radius:5px;
}
}
.slide{
 margin-top: 50px;
 display:flex;
 justify-content: center;

 .img{
     height: 20px;
     width: 20px;
   

   
    
 }
}

.carousel{
 width:400px ;
 width: 400px;
 border-radius:5px;


}

}













