
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300;700&family=Lora:ital@1&family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Lora:ital@1&family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mukta:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300;700&family=Lora:ital@1&family=Oooh+Baby&display=swap');


/*---------------------------mobile smartphone------------------------------------*/
@media(max-width:1023px){


    *{
        padding: 0;
        margin: 0;
       }
   
       header{
       background-color:brown;
       padding: 20px;
       list-style:none;
       width: 100%;
       }
   
       .flexconteiner{
           display:flex;
           justify-content: space-evenly;
            }
   
       
         li{
       display:inline-block;
       
           }
       
footer{
    width:100vw;
}
    
        .opciones{
       color:antiquewhite;
       font-weight:bolder;
       font-family: 'Roboto', sans-serif;
       text-decoration: none;
           display: flex;
           justify-content: space-evenly;
   
           }
   
           .tituloconteiner{
               display:flex;      
               font-size: 30px;
               flex-direction: column;
               align-items:flex-end;
   
           }
           
           /*#section-titulo{
               grid-area:section-titulo;
               width: 70%;
               display: flex;
           }*/
   
   .mayuscula{
       flex-direction:column;
       font-family:'Roboto', sans-serif;
       font-weight: bolder;
       padding:50px;
       justify-content: center;
       color:antiquewhite;
       width: 900px;
       height:20vh;
       margin-top: 50px;
       align-items:flex-start;
       align-content: left;
       }
       
    
     
   #principal1{
       width:100%;
       background-image: url("../imagenes/istockphoto-1131318494-612x612.jpg");
       background-size:100% 100% ;
       background-color: rgba(50,50,50,0.75);
       background-attachment: fixed;
       position: absolute;
       background-blend-mode: soft-light;
       display:grid;
       grid-template-columns: 1fr;
       grid-template-rows:0.10fr 0.10fr 0.5fr 0.5fr auto ;
       grid-template-areas:     "header"
                                "nav"
                                "main"
                            "section-titulo"
                                "section"        
                                 "footer"
                            }
                          /*  .pagina-conteiners{
                                display:flex;
                                height: 100%;
                                flex-direction: column;
                                align-items: center;

                             
                               }*/
                        
                        
                            .relleno-conteiners{
                                display:flex ;
                                flex-direction:column;
                                flex-wrap: wrap;
                                color:antiquewhite;
                                font-family:'Roboto', sans-serif;
                                font-size:15px ;
                                font-weight:lighter;
                                width: 80%;
                                height: 100vh;
                                justify-content:space-evenly;
                                align-items:flex-start;
                                display:grid;
                                grid-template-columns: 0.5fr;
                                grid-template-rows: 0.25fr 0.25fr 0.15fr;
                                grid-template-areas: "lorem1"
                                                      "lorem2"
                                                     "marco-index"
                  
                  
                                                     
                                }
                #lorem1{
                   grid-area:lorem1;

                }
                            #lorem2{
                                grid-area:lorem2;
                            }



       #header-index{
        grid-area:header;
           display:flex;
           background-color: brown;
           font-size: 25px;

           
       
       }
   
   
       #navegador-index{
           grid-area:nav;
           display:flex;
           flex-direction:column;
           width: 100%;
           height: 100%;
       }
   
       #ul-index{
           display:flex;
           justify-content: space-evenly;
           flex-direction: column;
           width: 70%;
           align-items:center;
       }

   
   
       #main-index{
           grid-area:main;
           display:flex;
           flex-wrap: wrap;
         
       }
   
       #section-index{
           grid-area:section;
           display:flex;
           justify-content: flex-start;
       }

       #section-titulo{
        grid-area:section-titulo;
       }
       #footer-index{
           grid-area:footer;
           background-color: brown;
           display: flex;
           flex-direction: column;
           width: 100%;
           height: 100%;
           align-self: center;
        }

       
   
   #marco-index{
       display:flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
        width: 100%;
        height: 100%;
        grid-area:marco-index;
    }
    
  
  
       #foto-index{
        display: flex;
        width: 500px;
        height: 400px;
        align-content:center;
        justify-self:flex-start;
        margin-top: 150px;
        border-radius: 10px;
        border:solid brown;
        margin-bottom: 400px;
        justify-content: left;
        grid-area:foto-index;
       }
   
.tituloconteiner{
    margin-bottom: 50px;
}

  /* .pie1{
           display: flex;
          align-items: center;
          align-self: center;
          font-style: italic;
       }
   */
   
    
   .pie1{
    align-items: center;
    font-family:'Roboto', sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 15px;
    text-decoration: none;
    margin:20px 10px;
    width:400px;
    height: 50px;
    border-radius: 10px;
    border:solid grey 5px;
    background-color: transparent;
    cursor:pointer;
    margin-left:250px;
   }
   .pie1:hover{
       box-shadow:0 0 40px 10px inset;
   }






       #formulario-contacto{
           display:flex;
           flex-direction: column;
           justify-content:flex-start;
           width: 100%;
       }
   
   .colorform{
   
       color:antiquewhite;
       font-family:'Roboto', sans-serif;
       font-weight: bolder;
      margin-left: 100px;
      background-color: grey;
      border-radius:5%;
      border:solid white;
      padding-left:50px;
      padding-top:50px;
      width:300px;
      height: 300px;


    
      }
   
   
   #minegocio{
       padding-top: 40px;
       padding-bottom: 0px;
       font-weight: bolder;
   }
   /*.container-consultas{
       padding-top:80px;
       font-family:'Roboto', sans-serif ;
       padding-bottom:0px ;
       font-weight: bolder;
       color:antiquewhite;
       display: flex;
       flex-direction: column;
       justify-content:center;
       width: 50%;
       height: 50%;
       padding-left: 100px;
       background-color: black;
       border-radius: 100%;
       }
       */
   
 /* #conteiner-clientes{
       display: flex;
       width: 5000%;
    

       }*/
   
    #quiensos{
       font-family:'Roboto', sans-serif;
       padding-top:30px ; 
       font-size: 2em;
       color:blanchedalmond;
       font-weight: bolder;
   
   }
   
   #bodycontactos{
       display: flex;
       flex-direction: column;
       background-image:url("../imagenes/el-mercurio-volador-juan-de-bolonia-627x376.jpg");
       background-size:100% 100% ;
       background-attachment: fixed;
       background-blend-mode: soft-light;
       background-color: rgba(50,50,50,0.75);
       display:grid;
       grid-template-columns: 1fr;
       grid-template-rows: 0.15fr 0.15fr 0.50fr 0.50fr 0.30fr auto;
       grid-template-areas:  "header-contacto"
                              "nav-contacto" 
                              "container-contacto"
                              "formulario-contacto"
                              "fabian-contacto"
                              "footer-contacto"
                              ;
                              }

                              #header-contacto{
                                grid-area:header-contacto;
                                display:flex;
                                flex-direction:column;
                                height: auto;
                                align-items: center;
                                background-color: brown;
                                font-size: 20px;

                                }
                 
          #ul-contacto{
              display:flex;
              flex-direction:column;
              align-items: center;            
            
            }


              
                            

                            #nav-contacto{
                                display:flex;
                                flex-direction: column;
                                grid-area:nav-contacto;
                                width:100%;
                                align-items: center;
                  
                            }
     
                            #formulario-contacto{
                                grid-area:formulario-contacto;
                                display:flex;
                                justify-content:center;
                                
                            }

                            #fabian-contacto{
                                grid-area:fabian-contacto;
                                width:100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                padding:auto;
                                align-items: center;
                              
                              
          
                                }

                              #fabi-contacto{
                                  width:300px;
                                  height: 300px;
                                  background-color: grey;
                                  border-radius: 5%;
                                  display:flex;
                                  flex-direction: column;
                                  align-items: center;
                                  justify-content: center;
                                  padding:25px;
                                  gap:40px;
                                  border:solid white;
                                  font-family:'Roboto', sans-serif;   
                                  font-weight: bolder;
                                 color:antiquewhite;
                                 margin:100px;
                                 }

                                 .fabi1{
                                     font-size: 25px;
                                     justify-content: center;
              
                                 }

                            

                            #container-contacto{
                                grid-area:container-contacto;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                font-family:'Roboto', sans-serif ;
                                font-weight: bolder;
                                color:antiquewhite;
                                flex-wrap: wrap;
                                width: 60%;
                                margin-left:110px;
                            }
                            
                             #footer-contacto{
                                 grid-area:footer-contacto;
                                 width: 100%;
                                 height: 100%;
                                 background-color: brown;
                             }
#footer-social{
font-size:40px;
background-color: bisque;
display:flex;
flex-direction: column;
align-items: center;
}
     
 

    
    
                              

       
   












































   .pie1{
       color:blanchedalmond;
       font-family:'Bree Serif', serif ;
       font-size: 20px;
   }
   
   .text-conteiner{
       display:flex;
       font-family:'Roboto', sans-serif;
       height: 100vh;
       justify-content: start;
       padding:160px;
       width:100%;
       height:auto ;
   }
   
   /*.parrafos-conteiners{
       
   justify-content:space-between;
       display:flex;
       width:75%;
       flex-direction: row;
       gap:80px;
       align-items: flex-start;
       font-size:20px;
       font-weight: bolder;
       color:antiquewhite;
       
   
       {*/
       

            
    
   
   
   .historia-conteiner{
   
       display:flex;
       font-family:'Roboto', sans-serif;
       height: 100%;
       justify-content: center;
       padding:160px;
   
   }
   
   .parrafos-historia{
   
       justify-content:flex-start;
       display:flex;
       width:70%;
       flex-direction: column;
       align-items: flex-start;
       font-size:20px;
       font-weight: bolder;
       color:antiquewhite;
       flex-wrap: wrap;
   
   }
   
   #marco-laptop{
   
       display:flex;
       width: 100%;
       height: 100%;
       justify-content: center;
       align-items: center;
       padding-top: 80px;
   }
   
   #imagen-laptop{
       width:500px;
       height: 400px;
       display:flex;
       align-items: center;
       justify-content: center;
       border-radius:10px ;
       border:solid gray;
   }
   
   .bodyhistoria{
    background-image:url("../imagenes/ef38981cf3118cbceaa563891a2aabfd--percy-jackson-hermes.jpg");
     background-size:100% 100% ;
       background-attachment: fixed;
       background-blend-mode: soft-light;
       background-color: rgba(50,50,50,0.98);
       display:grid;
       grid-template-columns: 1fr;
       grid-template-rows: 0.15fr 0.15fr 0.5fr auto;
       grid-template-areas: "header"
                             "nav"
                             "section"
                             "footer"
   
                           } 
                         
   #header-historia{
       grid-area: header;
       display: flex;
       flex-direction: column;
       background-color: brown;
       font-size: 25px;
   }
   
   #nav-historia{
       grid-area:nav;
       display:flex;
       flex-direction: column;
       align-items: center;


   }
   #ul-historia{
       display:flex;
       flex-direction:column;
       align-items: center;
   }
   
   #section-historia{
       grid-area: section;
   }
   
   #footer-historia{
       grid-area:footer;
       background-color: brown;
       width: 100%;
       height: 100%;
   }
   
   
   
     #body-experiencia{
       background-image: url("../imagenes/depositphotos_418026222-stock-photo-ancient-statue-antique-god-commerce.jpg");
       background-attachment: fixed;
       background-blend-mode: soft-light;
       background-color: rgba(50,50,50,0.98);
       background-size: 100%;
       width: 100%;
       height: 100%;
       display: grid;
       display:flex;
       flex-direction: column;
       grid-template-columns: 1fr;
       grid-template-rows: 0.15fr 0.15fr 0.25fr 0.3fr auto;
       grid-template-areas: "header"
                             "nav"
                             "section"
                            "section2"
                            "footer";
                            
       
   }
   
                      
                      
                       #header-experiencia{
                           grid-area:header;
                           display:flex;
                           flex-direction:column;
                           height: 100%;
                           align-items: center;
                           background-color: brown;
                           font-size: 25px;
                        
                       
                         }

                         #opciones-experiencia{
                             display:flex;
                             flex-direction: column;
                           align-items:center;
                             

                         }
                       
                         #navegador-experiencia{
                            grid-area:nav;
                            display:flex;
                            flex-direction:column;
                            width: 100%;
                            height: 100%;
                    

                       }
                       #ul-experiencia{
                           display:flex;
                           flex-direction: column;
                       }
   
   
   
   
                       #section-experiencia{
   
                           display:flex;
                           flex-direction: column;
                           font-family:'Roboto', sans-serif;
                           justify-content:flex-start;
                           align-items:center;
                           grid-area: section;
                           padding-bottom:10% ;
                           padding-top:10%;
   
                           }
                           .relleno-experiencia{
                               justify-content:end;
                              justify-items:center;
                               display:flex;
                               flex-direction: column;
                               width:50%;
                               font-size:20px;
                               font-weight: bolder;
                               color:antiquewhite;
                               flex-direction: column;
                               
                           
   
                           }


                           #section-experiencia2{
                            justify-content: center;
                            margin-left:100px;
                             grid-area:section2;
                            display:flex;
                             flex-direction:column;
                             height: 100%;
                    
                             align-items:center;
                             gap:10px;
                             display:grid; 
                             grid-template-columns: 1fr;
                             grid-template-rows: 1fr 1fr 1fr 1fr 1fr  auto;
                             grid-template-areas:"foto-harold"
                                                "historia-harold"
                                                 "foto-sarah" 
                                                 "historia-sarah"
                                                  "foto-isaac"
                                                 "historia-isaac";  
                                           }
                   
                                    #foto-harold{
                                        width:450px;
                                        height: 450px;
                                        display:flex;
                                        flex-direction: column;
                                        border:solid grey;
                                        grid-area:foto-harold;
                                        border-radius:5px;
                                
                                    
                                    }
                                  
                                    .historia-fabi{
                                        display:flex;
                                        justify-content:start;
                                        width: 450px;
                                        height: 400px;
                                        font-size:20px ;
                                        font-weight: bolder;
                                        color:antiquewhite;
                                        font-family:'Roboto', sans-serif ;
                                        flex-direction: column;
                                        grid-area:historia-harold;
                   
                                                    }
            
                                    #foto-sarah{ 
                                         width:450px;
                                         height: 450px;
                                         display:flex;
                                         flex-direction: column;
                                        border:solid antiquewhite;
                                        grid-area:foto-sarah;
                                        border-radius:5px;
            
            
                                     }
            
                                     .historia-sarah{
                                        display:flex;
                                        justify-content:start;
                                        width: 450px;
                                        height: 400px;
                                        font-size:20px ;
                                        font-weight: bolder;
                                        color:antiquewhite;
                                        font-family:'Roboto', sans-serif ;
                                        flex-direction: column;
                                        grid-area:historia-sarah;
                                
                   
                                                    }
            
                                                    #foto-isaac{
                                                        width:450px;
                                                        height: 450px;
                                                        display:flex;
                                                        flex-direction: column;
                                                       border:solid antiquewhite;
                                                       grid-area:foto-isaac;
                                                       border-radius: 5px;
                           
                                                    }
            
                                                    .historia-isaac{
                                                        display:flex;
                                                        justify-content:start;
                                                        width: 450px;
                                                        height: 400px;
                                                        font-size:20px ;
                                                        font-weight: bolder;
                                                        color:antiquewhite;
                                                        font-family:'Roboto', sans-serif ;
                                                        flex-direction: column;
                                                        grid-area:historia-isaac;
                                                        padding-top:10px;
            
                                                    }
                                     
            
                                   
                                       #footer-experiencia{
                                        grid-area: footer;
                                        display:flex;
                                        background-color: brown;
                                    }









                                    
                                    .bodyservicios{

                                        width: 100%;
                                        height: 100%;
                                        background-image: url("../multimedia/istockphoto-131914749-612x612.jpg") ;
                                    background-attachment: fixed;
                                    background-blend-mode :soft-light;
                                    background-size:100%;
                                    display:grid;
                                    grid-template-columns: 1fr;
                                    grid-template-rows: 0.15fr 0.15fr 0.15fr auto;
                                    grid-template-areas: "header-servicios"
                                                          "nav-servicios"
                                                          "section-servicios"
                                                          "footer-servicios";
                                    background-color: rgba(50,50,50,0.98);
                                   
                                    }
                                
                                    #header-servicios{
                                        grid-area:header-servicios;
                                        width:100%;
                                        height: 100%;
                                        display: flex;
                                        background-color: brown;
                                        font-size: 25px;
                            
                         
                                      
                                        
                                    }
                                
                         
                                   #nav-servicios{
                                       grid-area:nav-servicios;
                                       width:100%;
                                       align-items: center;
                                       display:flex;
                                       flex-direction: column;

                                       }

                                       #ul-servicios{
                                           display: flex;
                                           flex-direction:column ;

                                       }
                         
                                       
                             
                                
                         
                                   #section-servicios{
                                       grid-area:section-servicios;
                                       display:flex;
                                       flex-direction: column;
                                       align-items: flex-start;
                                       flex-wrap: wrap;
                                      
                                      
                                       
                         
                                       }
                         
                                   #footer-servicios{
                                       grid-area: footer-servicios;
                                       background-color: brown;
                                       
                                   }
                         
                         
                                  #section-servicios{
                                     display: flex;
                                     justify-content: center;
                                     gap:20px;
                                   color: antiquewhite;
                                     font-family:'Roboto', sans-serif ;
                                      font-size: 25px;
                                     height: 100%; 
                                     width: 100%;
                                    display:grid;
                                    grid-template-columns:0.15fr 0.15fr 0.15fr 0.15fr;
                                    grid-template-rows: 0.15fr 0.15fr 0.15fr 0.15fr;
                                    grid-template-areas:   "foto1"  
                                                          "parrafo1"
                                                           "foto2"
                                                          "parrafo2"
                                                           "foto3"
                                                          "parrafo3"
                                                           "foto4"
                                                          "parrafo4";
                                    
                                       
                                                         




                                  }







                          
                                  #foto1{
                                      grid-area: foto1;
                                      width:300px;
                                      height: 300px;
                                      border-radius: 20%;
                                      border:solid brown;
                                  }
                                  
                                  #foto2{
                                      grid-area:foto2;
                                      width:300px;
                                      height:300px;
                                      border-radius:20%;
                                      border:solid brown;
                                  }
                         
                                  #foto3{
                                      grid-area:foto3;
                                      width:300px;
                                      height:300px;
                                      border-radius:20%;
                                      border:solid brown;
                                  }
                                  
                                  #foto4{
                                      grid-area:foto4;
                                      width:300px;
                                      height: 300px;
                                      border-radius:20%;
                                      border:solid brown;
                                  }
                          #parrafo1{
                             background-blend-mode :soft-light;
                             grid-area:parrafo1;
                             font-size: 20px;
                             font-weight: bolder;
                          }
                         
                          #parrafo2{
                              grid-area:parrafo2;
                               font-size:20px ;
                         font-weight: bolder;
                         
                         }
                          #parrafo3{
                              grid-area:parrafo3;
                              font-size: 20px;
                              font-weight: bolder;
                          }
                         
                          #parrafo4{
                              grid-area:parrafo4;
                              font-size: 20px;
                              font-weight: bolder;
                          }
                         
                         

            
                         






                         
                         
                         
            
                        
                            }
     
        




















         /*-----------------------------desktop-----------------------------*/
@media(min-width:1024px){

    *{
        padding: 0;
        margin: 0;
       }
   
       header{
      background-color:brown;
       padding: 20px;
       width: 100vw;
       list-style:none;
       position:relative;
       }

       /*{
        box-sizing:border-box; 
        width: 100%;
       }*/


       .flexconteiner{
           display:flex;
           justify-content: space-evenly;

           
   
           }
   
       
         li{
       display:inline-block;
       
           }

           .opciones{
           
            color:antiquewhite;
           font-weight:bolder;
           font-family: 'Roboto', sans-serif;
           text-decoration: none;
               font-size: 25px; 
               width: 100vw;
            
               }
        .opciones:hover{
            transform: scale(2);
            transition-property: all;
            transition-duration: 1s;
        }

       
   
   
           .tituloconteiner{
               display:flex;      
               font-size: 30px;
               flex-direction: column;
               align-items:center;
               margin-top:20px;
   
           }
           
           
   
   .mayuscula{

  
       display:flex;
       flex-direction:column;
       font-family:'Roboto', sans-serif;
       font-weight: bolder;
       padding:50px;
       justify-content: center;
       color:antiquewhite;
       width: 900px;
       height:20vh;
       margin-top: 50px;
       }
       
       .pagina-conteiners{
           display:flex;
           width: 100%;
          
          }
   
   
       .relleno-conteiners{
         display:flex ;
           flex-direction: column;
           color:antiquewhite;
           font-family:'Roboto', sans-serif;
           font-size:20px ;
           font-weight:lighter;
           width: 60%;
           justify-items:flex-end;
           align-items: center; 
           height: 100vh;  
           padding-left:450px ;
           justify-content:start;
        }
      /*  #lorem1{

            transform: scale(0.3);
            transition-property:all;
           transition-duration: 2s;


        }
        
        #lorem2{
              transform: scale(0.3);
              transition-property:all;
             transition-duration: 2s;

        }
   */
   
   
   #principal1{
       width:100%;
       background-image: url("../imagenes/istockphoto-1131318494-612x612.jpg");
       background-size:100% 100% ;
       background-attachment: fixed;
       position: absolute;
       background-blend-mode: soft-light;
       background-color: rgba(50,50,50,0.75);
       display:grid;
       grid-template-columns: 1fr ;
       grid-template-rows:0.10fr 0.10fr 0.15fr 0.15fr auto ;
       grid-template-areas: "header"
                             "nav"
                             "main"
                             "section"
                             "footer"    ;
                             gap:10px;
                    
       }
   
       #header-index{
           grid-area:header;
           width: 100%;
           display:flex;
           align-items: center;
           
       }
   
   
       #navegador-index{
        grid-area:nav;
           width: 100%;
       }
   
       #ul-index{
           display:flex;
           justify-content: space-evenly;
           align-content: center;
           width:100%;
           display:flex;
           flex-direction: row;
           justify-content: space-evenly;
   
   

   }

  
       #main-index{
           grid-area:main;
       }
   
       #section-index{
           grid-area:section;
       }
       #footer-index{
           grid-area:footer;
           background-color: brown;
           width: 100%;
           display: flex;
           height: 100%;
           flex-direction: column;
           align-items: center;

       }
   
   #marco-index{
       display:flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
        width: 100%;
     
   
     }
    #foto-index{
        display: flex;
        width: 800px;
        height: 600px;
        align-items: center;
        margin-top: 400px;
        border-radius: 10px;
        margin-bottom: 400px;
        border-style: solid black;
       }
   
      /* #footer-index{
           display: flex;
           width: 100%;
           height: 100%;
           flex-direction: column;
           align-items: center;
       } */
   
       .pie1{
          align-items: center;
          font-family:'Roboto', sans-serif;
          font-weight: bolder;
          display: flex;
          justify-content: center;
          align-items: center;
          color:white;
          font-size: 15px;
          text-decoration: none;
          margin:20px 10px;
          width:400px;
          height: 50px;
          border-radius: 10px;
          border:solid grey 5px;
          background-color: transparent;
          cursor:pointer;
         }
         .pie1:hover{
             box-shadow:0 0 40px 10px inset;
         }
   
   
    
















      /* .formconteiner{
           padding-top: 50px;
           display:flex;
           justify-content:right;
           width: 900px;
       }*/
   
   .colorform{
        width: 300px;
        height: 300px;
       color:antiquewhite;
       font-family:'Roboto', sans-serif;   
       font-weight: bolder;
       border-radius:10%;
       background-color:grey;
       border:solid bisque;
       margin-top: 20px;
       padding:20px 5px 20px 60px;
       justify-content: right;
      
      
   }
   
   
   #minegocio-contacto{
       padding-top: 40px;
       padding-bottom: 0px;
       font-weight: bolder;
    
       }

  /* .container-consultas{
       padding-top:80px;
       font-family:'Roboto', sans-serif ;
       padding-bottom:0px ;
       font-weight: bolder;
       color:antiquewhite;
       display: flex;
       justify-content:center;
       }*/
   

   
    #quiensos{
       font-family:'Roboto', sans-serif;
       padding-top:30px ; 
       font-size: 200px;
       color:blanchedalmond;
       font-weight: bolder;
   
   }





   
   #bodycontactos{
       background-image:url("../imagenes/el-mercurio-volador-juan-de-bolonia-627x376.jpg");
       background-size:100% 100% ;
       background-attachment: fixed;
       background-blend-mode: soft-light;
       background-color: rgba(50,50,50,0.75);
       display:grid;
       grid-template-columns: 1fr;
       grid-template-rows: 0.15fr 0.15fr 0.50fr 0.50fr 0.30fr auto;
       grid-template-areas:  "header-contacto"
                              "nav-contacto" 
                              "container-contacto"
                              "formulario-contacto"
                              "fabian-contacto"
                              "footer-contacto"
                              ;
                              }

                              #header-contacto{
                                  grid-area:header-contacto;
                                 display:flex;
                                 background-color: brown;
                                  font-size: 20px;
                                  justify-content: space-evenly;
               

                                  }
                   
            #ul-contacto{
                display:flex;
                justify-content: space-evenly;
                align-content: center;
                 width:100%;
                display:flex;
                 flex-direction: row;
                  justify-content: space-evenly;
                                  }


                
                              

                              #nav-contacto{
                                  display:flex;
                                  grid-area:nav-contacto;
                                  width:100%;
                                  align-items: center;
                    
                              }
       
                              #formulario-contacto{
                                  grid-area:formulario-contacto;
                                  display:flex;
                                  justify-content:center;
                                  
                              }

                              #fabian-contacto{
                                  grid-area:fabian-contacto;
                                  width:100%;
                                  height: 100%;
                                  display: flex;
                                  justify-content: center;
                                  padding:auto;
                                  align-items: center;
                                
                                
            
                                  }

                                #fabi-contacto{
                                    width:300px;
                                    height: 300px;
                                    background-color: grey;
                                    border-radius: 5%;
                                    display:flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    padding:30px;
                                    gap:40px;
                                    border:solid white;
                                    font-family:'Roboto', sans-serif;   
                                    font-weight: bolder;
                                   color:antiquewhite;
                                   margin:100px;
                                   }

                                   .fabi1{
                                       font-size: 25px;
                                       justify-content: center;
                
                                   }

                              

                              #container-contacto{
                                  grid-area:container-contacto;
                                  width:100%;
                                  height: 100%;
                                  display: flex;
                                  flex-direction: column;
                                  justify-content: center;
                                  align-items: center;
                                  font-family:'Roboto', sans-serif ;
                                  font-weight: bolder;
                                  color:antiquewhite;
                              }
                              
                               #footer-contacto{
                                   grid-area:footer-contacto;
                                   width: 100%;
                                   height: 100%;
                                   background-color: brown;
                               }
#footer-social{
font-size:40px;
background-color: bisque;
}
       
   
       .bodyservicios{
           width: 100%;
           height: 100%;
           background-image: url("../multimedia/istockphoto-131914749-612x612.jpg") ;
       background-attachment: fixed;
       background-blend-mode :soft-light;
       background-size:100%;
       display:grid;
       grid-template-columns: 1fr;
       grid-template-rows: 0.15fr 0.15fr 0.15fr auto;
       grid-template-areas: "header-servicios"
                             "nav-servicios"
                             "section-servicios"
                             "footer-servicios";
       background-color: rgba(50,50,50,0.98);
      
       }
   
       #header-servicios{
           grid-area:header-servicios;
           width:100%;
           display: flex;
       align-items: center;


         
           
       }
   

      #nav-servicios{
          grid-area:nav-servicios;
          width:100%;
          align-items: center;

          

      }

      #section-servicios{
          grid-area:section-servicios;
          display:flex;
          flex-direction: column;
          align-items: flex-start;
          flex-wrap: wrap;
         
         
          

          }

      #footer-servicios{
          grid-area: footer-servicios;
          background-color: brown;
          
      }


     #section-servicios{
        display: flex;
        justify-content: space-evenly;
        gap:20px;
      color: antiquewhite;
        font-family:'Roboto', sans-serif ;
         font-size: 25px;
        height: 100%; 
        width: 100%;
       display:grid;
       grid-template-columns:0.15fr 0.15fr 0.15fr 0.15fr;
       grid-template-rows: 0.15fr 0.15fr 0.15fr 0.15fr;
       grid-template-areas: "foto1     foto2   foto3    foto4"
                            "parrafo1 parrafo2 parrafo3 parrafo4";

     }

     #foto1{
         grid-area: foto1;
         width:300px;
         height: 300px;
         border-radius: 20%;
         border:solid brown;
     }
     
     #foto2{
         grid-area:foto2;
         width:300px;
         height:300px;
         border-radius:20%;
         border:solid brown;
     }

     #foto3{
         grid-area:foto3;
         width:300px;
         height:300px;
         border-radius:20%;
         border:solid brown;
     }
     
     #foto4{
         grid-area:foto4;
         width:300px;
         height: 300px;
         border-radius:20%;
         border:solid brown;
     }
#parrafo1{
background-blend-mode :soft-light;
grid-area:parrafo1;
font-size: 15px;
font-weight: bolder;
}

#parrafo2{
 grid-area:parrafo2;
  font-size:15px ;
font-weight: bolder;

}
#parrafo3{
 grid-area:parrafo3;
 font-size: 15px;
 font-weight: bolder;
}

#parrafo4{
 grid-area:parrafo4;
 font-size: 15px;
 font-weight: bolder;
}












   .historia-conteiner{
   
       display:flex;
       font-family:'Roboto', sans-serif;
       height: 100vh;
       justify-content: center;
       padding:160px;
   
   }
   
   .parrafos-historia{
   
       justify-content:flex-start;
       display:flex;
       width:55%;
       flex-direction: column;
       align-items: flex-start;
       font-size:15px;
       font-weight: bolder;
       color:antiquewhite;
   
   }
   
   #marco-laptop{
   
       display:flex;
       width: 100%;
       height: 100%;
       justify-content: center;
       align-items: center;
       padding-top: 80px;
   }
   
   #imagen-laptop{
       width:500px;
       height: 400px;
       display:flex;
       align-items: center;
       justify-content: center;
       border-radius:10px ;
       border:solid gray;
   }
   
   .bodyhistoria{
       width:100%;
    background-image:url("../imagenes/ef38981cf3118cbceaa563891a2aabfd--percy-jackson-hermes.jpg");
     background-size:100% 100% ;
       background-attachment: fixed;
       background-blend-mode: soft-light;
       background-color: rgba(50,50,50,0.98);
       display:grid;
       grid-template-columns: 1fr;
       grid-template-rows: 0.15fr 0.15fr 0.15fr auto;
       grid-template-areas: "header"
                             "nav"
                             "section"
                             "footer"
   
                           } 
                         
   #header-historia{
       grid-area: header;
       width:100%;
       display: flex;
       align-items: center;
      }
   
   #nav-historia{
       grid-area:nav;
       width: 100%;
   }

   #section-historia{
       grid-area: section;
   }
   
   #footer-historia{
       grid-area:footer;
       background-color:brown;
   }
   
   #ul-historia{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%; 

   }
   
   
   
   
   
   
   
   
   
   
   
   #body-experiencia{
       background-image: url("../imagenes/depositphotos_418026222-stock-photo-ancient-statue-antique-god-commerce.jpg");
       background-attachment: fixed;
       background-blend-mode: soft-light;
       background-color: rgba(50,50,50,0.98);
       background-size: 100% 100%;
       width: 100%;
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 0.15fr 0.15fr 0.10fr 0.15fr auto;
       grid-template-areas: "header"
                             "nav"
                             "section"
                            "section2"
                            "footer";
       
   }
   
                      
                      
                       #header-experiencia{
                           grid-area:header;
                           display:flex;
                           width:100%;
                       align-items: center;
                         
                         }
                       
                         #navegador-experiencia{
                            grid-area:nav;
                            width: 100%;
                        
                         }

                                                
     #ul-experiencia{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        width:100%; 

    }

        
    
     


   
               
   
   
   
   
                       #section-experiencia{
   
                           display:flex;
                           flex-direction: column;
                           font-family:'Roboto', sans-serif;
                           justify-content:flex-start;
                           align-items:center;
                           grid-area: section;
                           padding-bottom:10% ;
                           margin-top:150px;
   
                           }
                           .relleno-experiencia{
                               justify-content:center;
                              justify-items:center;
                               display:flex;
                               flex-direction: column;
                               width:50%;
                               align-items:center;
                               font-size:15px;
                               font-weight: bolder;
                               color:antiquewhite;
                               flex-direction: column;
                               
                           
   
                           }
                   
                          
                           #section-experiencia2{
                              justify-content: center;
                              margin-left:100px;
                               grid-area:section2;
                               display:flex;
                               flex-direction:column;
                               align-items: center;
                               gap:10px;
                               display:grid;
                               grid-template-columns: 0.35fr 0.35fr 0.35fr;
                               grid-template-rows:    0.2fr 0.2fr 0.2fr;
                               grid-template-areas:       
                                          "foto-sarah foto-harold foto-isaac"
                                         "historia-sarah historia-harold historia-isaac";
                                               }
                       
   
                           #foto-harold{
                               width:300px;
                               height: 300px;
                               display:flex;
                               flex-direction: column;
                               border:solid brown;
                               grid-area:foto-harold;
                               border-radius:10px;
                       
                           
                           }
                         
                           .historia-fabi{
                               display:flex;
                               justify-content:start;
                               width: 300px;
                               height: 300px;
                               font-size:15px ;
                               font-weight:bolder;
                               color:antiquewhite;
                               font-family:'Roboto', sans-serif ;
                               flex-direction: column;
                               grid-area:historia-harold;
          
                                           }
   
                           #foto-sarah{ 
                                width:300px;
                                height: 300px;
                                display:flex;
                                flex-direction: column;
                               border:solid brown;
                               grid-area:foto-sarah;
                               border-radius:10px;
   
   
                            }
   
                            .historia-sarah{
                              
                                display:flex;
                               justify-content:start;
                               width: 300px;
                               height: 300px;
                               font-size:15px ;
                               font-weight:bolder;
                               color:antiquewhite;
                               font-family:'Roboto', sans-serif ;
                               flex-direction: column;
                               grid-area:historia-sarah;
                       
          
                                           }
   
                                           #foto-isaac{
                                               width:300px;
                                               height: 300px;
                                               display:flex;
                                               flex-direction: column;
                                              border:solid brown;
                                              grid-area:foto-isaac;
                                              border-radius: 10px;
                  
                                           }
   
                                           .historia-isaac{
                                               display:flex;
                                               justify-content:start;
                                               width: 300px;
                                               height: 300px;
                                               font-size:15px ;
                                               font-weight: bolder;
                                               color:antiquewhite;
                                               font-family:'Roboto', sans-serif ;
                                               flex-direction: column;
                                               grid-area:historia-isaac;
   
                                           }
                            
   
                          
                              #footer-experiencia{
                               grid-area: footer;
                               display:flex;
                               background-color: brown;
                        
                           }
                    
                           #footer-social{
                               display:flex;
                               gap:20px;
                               justify-content: center;
                               align-items: center;
                    
                           }

                           #footer-social i{
                            font-size: 30px;
                           }


#planilla-formulario{
width:50%;
margin-left: 250px;
margin-top: 150px;

}

}





